==
   <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top shadow" id="myNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="{{ 'home'| page }}"><img src="{{ 'assets/images/logo-01.svg' | theme}}" style="height: 50px;" alt="{{ this.theme.website_name }} Logo"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
             <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#security">Zabezpečovací systémy</a></li>
             <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#ftv">Fotovoltaické systémy</a></li>
             <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#projekce">Projekce</a></li>
             <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#kontakt">Kontakt</a></li>
          </ul>
        </div>
      </div>
    </nav>