==
<section id="hero" class="hero" 
         style="background-image:url({{ this.theme.hero_image | media }})"
         >
   <div class="container mt-auto mb-5 my-md-auto">
      <div class="row">
         <div class="col-md-5" data-aos="zoom-in-right" data-aos-delay="500">
         <h1 class="fs-2 fw-bold text-primary">{{ this.theme.hero_title }}</h1>
         <h2 class="fs-5 mt-2">{{ this.theme.hero_subtitle }}</h2>
         <a class="btn btn-primary mt-3" href="{{ this.theme.hero_button_url }}" role="button">{{ this.theme.hero_button_text }}</a>
      </div>
   </div>
   </div>

</section>