<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="title" content="{{ this.page.meta_title }}">
<meta name="description" content="{{ this.page.meta_description }}">

<link rel="apple-touch-icon" sizes="180x180" href="{{ 'assets/images/apple-touch-icon.png'|theme }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ 'assets/images/favicon-32x32.png'|theme }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ 'assets/images/favicon-16x16.png'|theme }}">
<link rel="icon" type="image/png" sizes="192x192" href="{{ 'assets/images/android-chrome-192x192.png'|theme }}">
<link rel="mask-icon" href="{{ 'assets/images/safari-pinned-tab.svg'|theme }}" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">

<link rel="stylesheet" href="{{ 'assets/css/style.css' | theme }}">


<title>{{ this.page.title }}</title> 

